$theme-colors: ("danger": blue);

.row {
  margin-top: 20px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

.description {
  margin: auto;
  text-align: center;
  padding: 40px;
}

.description h1 {
  font-size: 7vw;
  font-weight: 800;
}

.description .lead {
  font-size: 5vw;
}

.description .desc {
  font-size: 3vw;
  text-align: justify;
  padding-left: 2%;
  padding-right: 2%;
}

.description .btn-group {
  width: 50%;
  font-size: 4vw;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 576px) {
  .description {
    text-align: left;
  }

  .description h1 {
    font-size: 3.5vw;
  }

  .description .lead {
    font-size: 3.5vw;
  }

  .description .desc {
    font-size: 1.5vw;
    padding-left: 0;
    padding-right: 5%;
    line-height: 2;
  }

  .description .btn-group {
    width: 20%;
    font-size: 1vw;
  }
}

@media only screen and (min-width: 768px) {
  
  .description .desc {
    font-size: 1vw;
    padding-right: 45%;
  }
}