<div class="container">
  <div class="row">
    <div class="col-md-4 image">
      <img src="../../../assets/car-1.jpg" class="img mr-3" alt="Responsive image">
    </div>
    <div class="col-md-8 description">
      <h1>Podnośniki nożycowe</h1>
      <p class="lead">
        od 45zł / doba
      </p>
      <p class="desc">
        Podesty nożycowe o niskiej emisji hałasu oraz niebrudzącym ogumieniu są przeznaczone do prac wewnątrz budynków.
        Poradzą sobie również na utwardzonym i prostym terenie przy pracach na zewnątrz.
      </p>
      <div class="car-1-button">
        <div class="car-1-button-a">
          
        </div>
        <div class="car-1-button-b">

        </div>
      </div>
    </div>
  </div>
</div>
