<div class="row">

  <div class="col-sm-5 image">
    <img src="../../../assets/car-1.jpg" class="img-fluid w-auto">
  </div>

  <div class="col-sm-7 description">
    <h1>Podnośniki nożycowe</h1>
    <p class="lead">
      od 45zł / doba
    </p>
    <p class="desc">
      Podesty nożycowe o niskiej emisji hałasu oraz niebrudzącym ogumieniu są przeznaczone do prac wewnątrz budynków.
      Poradzą sobie również na utwardzonym i prostym terenie przy pracach na zewnątrz.
    </p>

    <div class="btn-group btn btn-danger" role="group">
      <div class="m-auto text-center">
        <i class="fa fa-angle-right animated shake delay-1s"></i>
      </div>
      <div class="m-auto text-center">
        <div class="animated rubberBand faster delay-2s">
            czytaj więcej
        </div>
      </div>
    </div>

  </div>
</div>
