<div class="container">
  <div class="row">
    <div class="col-md-4 image">
      <img src="../../../assets/car-1.jpg" class="img mr-3" alt="Responsive image">
    </div>
    <div class="col-md-8 description">
      <h1>Podnośniki nożycowe</h1>
      <p class="lead">
        od 45zł / doba
      </p>
      <p class="desc">
        Podesty nożycowe o niskiej emisji hałasu oraz niebrudzącym ogumieniu są przeznaczone do prac wewnątrz budynków.
        Poradzą sobie również na utwardzonym i prostym terenie przy pracach na zewnątrz.
      </p>
      <button type="button" class="btn btn-danger">
        <div class="container mx-0 px-0">
          <div class="row more">
            <div class="col-4 more-left">
              <i class="fa fa-angle-right align-self-center"></i>
            </div>
            <div class="col-8 more-right">
              czytaj więcej
            </div>
          </div>
        </div>
      </button>
    </div>
  </div>
</div>
