<nav class="navbar navbar-expand-sm navbar-light">
  <button class="navbar-toggler mx-auto my-1" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1 navbar-left-1">

        </div>
        <div class="col-md-8 navbar-left-2">
          <ul class="navbar-nav">
            <li class="nav-item mx-auto">
              <a class="nav-link" href="#">podnośniki</a>
            </li>
            <li class="nav-item mx-auto">
              <a class="nav-link" href="#">o firmie</a>
            </li>
            <li class="nav-item mx-auto">
              <a class="nav-link" href="#">rentax maszyny budowlane</a>
            </li>
            <li class="nav-item mx-auto">
              <a class="nav-link" href="#">szkolenia</a>
            </li>
            <li class="nav-item mx-auto">
              <a class="nav-link" href="#">kontakt</a>
            </li>
          </ul>
        </div>
        <div class="col-md-2 navbar-right">
          <ul class="navbar-nav">
            <li class="nav-item mx-auto">
              <div class="media">
                <i class="fa fa-facebook-f my-auto mx-1"></i>
                <div class="media-body">
                  <a class="nav-link" href="#">facebook</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-1 navbar-right">

        </div>
      </div>
    </div>

  </div>
</nav>
