.navbar {
  padding: 0;
}

.nav-link {
  color: white !important;
  font-size: 1em;
}

.navbar-left-1 {
  background-color: #ED1B23;
}

.navbar-left-2 {
  background: rgb(237, 27, 35);
  background: linear-gradient(90deg, rgba(237, 27, 35, 1) 94%, rgba(218, 25, 32, 1) 100%);
}

.navbar-right {
  background-color: #ED1B23;
}

.fa-facebook-f {
  color: white;
}
