.spacer {
    height: 50px;
}

.desc-mid p {
    margin-bottom: 20px !important;
}

.bannerbox {
    background: url('../../assets/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    display: grid;
}

.bannerbox h1 {
    margin: 10px auto;
    color: white;
    font-size: 7vw;
    font-weight: 800;
}

.bannerbox p {
    margin: auto;
    color: white;
    text-align: center;
    font-size: 3.3vw;
    margin: 10px;
}

@media only screen and (min-width: 576px) {
    .bannerbox {
        height: 400px;
    }
    h1 {
        font-size: 4vw !important;
    }
    p {
        font-size: 3vw !important;
    }
}

@media only screen and (min-width: 768px) {
    .bannerbox {
        height: 400px;
    }
    h1 {
        font-size: 3vw !important;
    }

    p {
        font-size: 2vw !important;
    }
}

@media only screen and (min-width: 992px) {
    .bannerbox {
        height: 400px;
    }
    h1 {
        font-size: 3vw !important;
    }
    p {
        font-size: 1.5vw !important;
    }
}

@media only screen and (min-width: 1200px) {
    .bannerbox {
        height: 400px;
    }
    h1 {
        font-size: 3vw !important;
    }
    p {
        font-size: 1vw !important;
    }
}