<div class="container">
  <div class="row">
    <div class="col-md-2 col-sm-4 col-6">
      <app-tile [imgSrc]="imgSrc[0]" [desc]="desc[0]"></app-tile>
    </div>
    <div class="col-md-2 col-sm-4 col-6">
      <app-tile [imgSrc]="imgSrc[1]" [desc]="desc[1]"></app-tile>
    </div>
    <div class="col-md-2 col-sm-4 col-6">
      <app-tile [imgSrc]="imgSrc[2]" [desc]="desc[2]"></app-tile>
    </div>
    <div class="col-md-2 col-sm-4 col-6">
      <app-tile [imgSrc]="imgSrc[3]" [desc]="desc[3]"></app-tile>
    </div>
    <div class="col-md-2 col-sm-4 col-6">
      <app-tile [imgSrc]="imgSrc[4]" [desc]="desc[4]"></app-tile>
    </div>
    <div class="col-md-2 col-sm-4 col-6">
      <app-tile [imgSrc]="imgSrc[5]" [desc]="desc[5]"></app-tile>
    </div>
  </div>
</div>
