.tile {
  height: 100%;
  display: grid;
}

.tile .img-fluid {
  max-width: 100px;
  max-height: 100px;
  margin: auto;
}

.tile p {
  text-align: center;
  font-size: 2.8vw;
  font-weight: 600;
  height: 50px;
  margin: auto;
}

// .tile .btn-group {
//   width: 90%;
//   font-size: 1vw;
//   height: 40px;
//   margin: auto;
// }

.tile .btn-group {
  width: 90%;
  background-color: #ED1B23;
  font-size: 3.5vw;
  justify-content: center;
  align-items: center;
  border-radius: 0;
}

@media only screen and (min-width: 576px) {
  .tile p {
    font-size: 1.7vw;
  }
  .tile .btn-group {
    font-size: 2vw;
  }
}

@media only screen and (min-width: 768px) {
  .tile .img-fluid {
    margin-top: 30px !important;
  }

  .tile p {
    font-size: 1.2vw;
  }
  .tile .btn-group {
    font-size: 1vw;
  }
}

@media only screen and (min-width: 992px) {
  .tile p {
    font-size: .95vw;
  }
  .tile .btn-group {
    font-size: .9vw;
    margin: auto;
  }
}

@media only screen and (min-width: 1500px) {
  .tile p {
    margin-bottom: 10px !important;
  }
}
