.header-contact h6 {
    font-weight: 600;
    font-size: 1.3vw;
    margin: 2px;
  }
  
  .header-contact p {
    font-size: 0.9vw;
    margin: 1px;
  }
  
  .header-contact br {
    display: block;
    margin: 1px 0;
  }
  
  @media(max-width:767px) {
    .header-contact h6 {
      font-size: 3.5vw !important;
    }
  
    .header-contact p {
      font-size: 2.0vw !important;
    }
    
    .icon {
      margin-top: 10px;
    }
  }
