<div class="row header-contact mx-0 my-auto">

  <div class="col-sm-6 align-items-center">

    <div class="mx-auto">
      <div class="media">
        <div>
          <i class="fa fa-envelope"></i>
        </div>
        <div class="media-body text-center">
          <h6>Wyślij wiadomość</h6>
          <p>biuro@sprzetobud.pl</p>
        </div>
      </div>
    </div>

  </div>

  <div class="col-sm-6">

    <div class="media">
      <div>
        <i class="fa fa-phone"></i>
      </div>
      <div class="media-body text-center">
        <h6>Zadzwoń do nas</h6>
        <p>+48 89 534 59 74</p>
        <p>+48 606 610 925</p>
      </div>
    </div>

  </div>

</div>

<div class="row px-0 mx-0 search">

  <div class="input-group">

    <div class="my-auto" style="font-size: 1.8vw;">
      <i class="fa fa-search mx-3 my-auto"></i>
    </div>

    <input type="text" class="form-control form-control-md mr-3 my-auto" aria-describedby="inputGroup-sizing-default">

  </div>
  
</div>
