.header-logo {
    position: relative;
  }
  
  .header-logo-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20%;
    left: 10%
  }
  
  .navbar-toggler {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8%;
    font-size: 8vw;
  }
  
  @media only screen and (max-width: 767px) {
    .header-logo-image {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  
  @media only screen and (min-width: 768px) {
    .navbar-toggler {
      visibility: hidden;
    }
  }
  