.header-logo {
  position: relative;
}

.header-logo-image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20%;
  left: 10%
}

@media only screen and (max-width: 767px) {
  .header-logo-image {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
